<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jxlg.mapper.WeekMapper" >
  <resultMap id="BaseResultMap" type="com.jxlg.pojo.Week" >
    <constructor >
      <idArg column="week_id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="week_name" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    week_id, week_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from week_info
    where week_id = #{weekId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from week_info
    where week_id = #{weekId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.jxlg.pojo.Week" >
    insert into week_info (week_id, week_name)
    values (#{weekId,jdbcType=VARCHAR}, #{weekName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jxlg.pojo.Week" >
    insert into week_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="weekId != null" >
        week_id,
      </if>
      <if test="weekName != null" >
        week_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="weekId != null" >
        #{weekId,jdbcType=VARCHAR},
      </if>
      <if test="weekName != null" >
        #{weekName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jxlg.pojo.Week" >
    update week_info
    <set >
      <if test="weekName != null" >
        week_name = #{weekName,jdbcType=VARCHAR},
      </if>
    </set>
    where week_id = #{weekId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jxlg.pojo.Week" >
    update week_info
    set week_name = #{weekName,jdbcType=VARCHAR}
    where week_id = #{weekId,jdbcType=VARCHAR}
  </update>
</mapper>